* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
}

ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 50px;
	background-color: greenyellow;
	position: relative;
}

#icon {
	position: absolute;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	color: white;
}

.app {
	background-image: url('https://i.insider.com/630672b7a4574d00182d95a9?width=700');
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	min-height: 100vh;
	padding: 20px;
}

form {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-top: 20px;
	color: white;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #7f8c8d;
}

input {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

button {
	background-color: orange;
	color: #fff;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: darkorange;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Hover effect with text shadow */
}

p {
	background-color: white;
  color: black;
	padding: 20px;
	margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
}

button {
	background-color: orange;
	color: #fff;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: darkorange;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
